<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pushpika.pt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="programming.teacher.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="programming.teacher.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="programming.teacher.AnimationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="programming.teacher.AnimationActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name="programming.teacher.Question_view"
            android:screenOrientation="portrait" />
        <activity
            android:name="programming.teacher.database_data_entry_initial"
            android:label="@string/title_activity_database_data_entry_initial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="programming.teacher.NewQuestionView"
            android:screenOrientation="portrait" />
        <activity
            android:name="programming.teacher.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="programming.teacher.ExampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="programming.teacher.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="programming.teacher.WinActivity"
            android:screenOrientation="portrait" />
        <activity android:name="programming.teacher.database_data_entry_initial_2" />
        <activity android:name="programming.teacher.database_data_entry_initial_new"></activity>
    </application>

</manifest>